@import 'colors';
@import 'constants';
@import 'mixins';

.product {
    @include mobile-view {
        max-width: 100%;
    }

    box-sizing: border-box;
    display: inline-block;
    max-width: 33.333%;
    padding-bottom: 2rem;
    padding-top: 2rem;

    .product__image {
        @include mobile-view {
            max-width: 100%;
        }

        border: 1px solid $light-gray;
        display: block;
        height: auto;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .product__information {
        margin-bottom: 2rem;
        margin-top: 2rem;
        text-align: center;
    }

    .product__name {
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
    }

    .product__price {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .product__color-sample {
        border: 0;
        border-radius: 50%;
        box-shadow: 1px 3px 11px $gray;
        cursor: pointer;
        height: 1.25rem;
        margin-right: .5rem;
        width: 1.25rem;

        &:last-child {
            margin-right: 0;
        }

        &:focus {
            outline: none;
        }
    }
}
